<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>


  <p>
    Splurty was built by <a target="_blank" href="http://github.com/traceyphan95">Tracey</a>. 
  </p>
  <br />
  <p>
    Tracey is spending her days following instrcutions and learning how to make web pages.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>



  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'tracey.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Tracey Phan</h2>
      <br />
      <p>
       Tracey Phan made this website.
      </p>
    </div>
  </div>
  <br class="clear" />

  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />